@import url(./global/global.css);
@import url(./global/footer.css);
@import url(./global/header.css);

/* UTILITARIOS */
@import url(./utilidades/componentes.css);
@import url(./utilidades/tipografia.css);
@import url(./utilidades/cores.css);
/* HOME */
@import url(./home/introducao.css);
@import url(./home/tecnologia.css);
@import url(./home/parceiros.css);
@import url(./home/depoimento.css);

/* Bicicletas */
@import url(./bicicletas/bicicletas-lista.css);
@import url(./bicicletas/bicicletas-produtos.css);

/* Seguros */

@import url(./seguros/seguros.css);
@import url(./seguros/vantagens.css);
@import url(./seguros/perguntas.css);

/* termos */

@import url(./termos/termos.css);
